@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&display=swap');

* {
	font-family: 'Lato', sans-serif;
}

body{
	width:100%
}

header:hover .logo-container #logo{
	transform:rotate(360deg)
}

.hero-background{
	height:91vh;
	background-image: url('https://cdn.wallpapersafari.com/17/73/0UfKOg.jpg');
	background-position:right top;
	background-size:cover;
	-webkit-transition:background-position 1.5s ease-in-out;  
	-moz-transition:background-position 1.5s ease-in-out;  
	-o-transition:background-position 1.5s ease-in-out;  
	transition:background-position 1.5s ease-in-out; 
	-webkit-clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 0%);
}

.hero-background:hover{
	background-position:center
}

.eslogan{
	margin-left:2rem;
	height:80vh;
}

.eslogan-text{
	z-index:1;
	font-size:4.5vw;
	flex-wrap:wrap;
	transition:text-shadow .75s ease;
        text-shadow: 0 1px 0 #ffffff, 0 2px 0 #ffffff,
        0 1px 2px #ffffff, 0 2px 2px #ffffff,
	0 3px 2px #ffffff, 0 4px 2px #ffffff,
	0 5px 2px #ffffff, 0 6px 2px #ffffff,
	0 7px 2px #ffffff, 0 8px 2px #ffffff,
	0 9px 2px #ffffff, 0 10px 2px #ffffff,
	0 20px 30px rgba(0, 0, 0, 0.5);
}

.eslogan-text:hover{
	cursor:pointer;
        text-shadow: 0 1px 0 #7a7a7a, 0 2px 0 #7a7a7a,
        0 1px 2px #7a7a7a, 0 2px 2px #7a7a7a,
	0 3px 2px #7a7a7a, 0 4px 2px #7a7a7a,
	0 5px 2px #7a7a7a, 0 6px 2px #7a7a7a,
	0 7px 2px #7a7a7a, 0 8px 2px #7a7a7a,
	0 9px 2px #7a7a7a, 0 10px 2px #7a7a7a,
	0 20px 30px rgba(0, 0, 0, 0.5);
}

.call-1{
	-webkit-clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 0%);
}

.call-2{
	-webkit-clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
	clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
}

.slide-container{
	min-height:100vh;
	width:100%;
}

.carousel-img{
	z-index:1;
	width:45rem;
	height:30rem;
}

#check{
	display:none;
}

.itinerary-container{
	transition: all .5s ease-in;
}

input:checked + div{
	display:block;
}

.comments-container:hover > div > .item-profile, .comments-container:hover > div > div > .item-profile{
	display:block;
}

@media screen and (max-width:1160px){
	header{
		flex-direction:column;
		height:12rem !important;
		justify-content:center;
		align-items:center;
	}

}

@media screen and (max-width:770px){
	header{
		padding:0;
		margin:0;
		justify-content:space-evenly!important;
		flex-direction:column!important;
		align-items:center!important;
		height:24rem!important;
	}

	nav{
		flex-direction:column;
	}

}

@media screen and (max-width:500px){
	footer{
		flex-direction:column;
	}
}


@media screen and (max-width:1200px){
	.itinerary-container{
		flex-direction:column;
	}
}

@media screen and (max-width:860px){
	.itinerary-container{
		border-radius:none !important;
		flex-direction:column;
		justify-content:space-around;
	}
}



